body {
    font-family: 'Nunito', sans-serif;
}
h1,h2{
    font-family: 'EB Garamond', serif;
}

input,select,button {
    font-family: 'Nunito', sans-serif;
}

.bg-primary {
    background-color: #013865!important;
}

.btn-primary {
    color: #fff;
    background-color: #013865;
    border-color: #013865;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #808080;
  color: white;
  cursor: pointer;
}